.header-inner {
  height: 100%;
  display: flex;
  padding: 0 20px 0 10px;
  justify-content: space-between;
  align-items: center;
  background: #ccc;
}

.logo {
}

.profile {
  cursor: pointer;
  user-select: none;
}

.avatar {
}

.avatar-img {
  width: 30px;
  height: 30px;
  border-radius: 18px;
}
.user-login {
  margin: 0 8px;
}
