@import "../style/index.less";

.header {
  height: 66px;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.main {
  display: flex;
  height: 100vh;
  padding-top: 66px;
  overflow: hidden;
}

.side-bar {
  width: 275px;
  min-width: 275px;
  box-sizing: border-box;
}

.repos-bar {
  width: 400px;
  min-width: 400px;
  box-sizing: border-box;
}

.repo-info {
  // use flex will overflow
  width: calc(100% - 275px - 400px);
  border-left: 1px solid #ccc;
}

.repo-no-selected {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
